# WEB-SCRAPING-ASSIGNMENT-4---1-Ans

# Ans1

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#getting the drive and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
#making empty lists
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [4]:
#scraping rank of videos
try:
    r = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in r:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '18.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [5]:
#scraping name of videos

try:
    n=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[2]')
    for i in n:
        name.append(i.text)
except:
    name.append('-')
name

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]',
 '"Bath Song"[20]',
 '"Phonics Song with Two Words"[21]',
 '"Uptown Funk"[22]',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 '"Gangnam Style"[24]',
 '"Masha and the Bear – Recipe for Disaster"[29]',
 '"Wheels on the Bus"[30]',
 '"Dame Tu Cosita"[31]',
 '"Sugar"[32]',
 '"Roar"[33]',
 '"Counting Stars"[34]',
 '"Sorry"[35]',
 '"Axel F"[36]',
 '"Thinking Out Loud"[37]',
 '"Baa Baa Black Sheep"[38]',
 '"Dark Horse"[39]',
 '"Faded"[40]',
 '"Girls Like You"[41]',
 '"Let Her Go"[42]',
 '"Bailando"[43]',
 '"Lean On"[44]',
 '"Perfect"[45]',
 '"Waka Waka (This Time for Africa)"[46]',
 '"Shake It Off"[47]',
 '"Humpty the train on a fruits ride"[48]']

In [6]:
#scraping artists name
try:
    a=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[3]')
    for i in a:
        artist.append(i.text)
except:
    artist.append('-')
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'Cocomelon – Nursery Rhymes',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Crazy Frog',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Passenger',
 'Enrique Iglesias',
 'Major Lazer',
 'Ed Sheeran',
 'Shakira',
 'Taylor Swift',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs']

In [7]:
#scraping date of upload
try:
    ud= driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[5]')
    for i in ud:
        upload_date.append(i.text)
except:
    upload_date.append('-')
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'May 24, 2018',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'June 16, 2009',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'July 25, 2012',
 'April 11, 2014',
 'March 22, 2015',
 'November 9, 2017',
 'June 4, 2010',
 'August 18, 2014',
 'January 26, 2018']

In [8]:
#scaping no of views
try:
    v=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[4]')
    for i in v:
        views.append(i.text)
except:
    views.append('-')
    
views

['11.24',
 '7.96',
 '6.44',
 '5.80',
 '5.62',
 '5.59',
 '4.85',
 '4.68',
 '4.61',
 '4.53',
 '4.51',
 '4.31',
 '4.05',
 '3.75',
 '3.64',
 '3.63',
 '3.58',
 '3.49',
 '3.49',
 '3.35',
 '3.34',
 '3.33',
 '3.33',
 '3.29',
 '3.26',
 '3.25',
 '3.24',
 '3.23',
 '3.20',
 '3.14']

In [9]:
print(len(rank),len(name),len(artist),len(upload_date),len(views))

30 30 30 30 30

In [10]:
Videos = pd.DataFrame({"Rank":rank,"Video_name":name,"Artist":artist,"Upload_date":upload_date,"Views":views})
Videos  #final Dataframe

,Rank,Video_name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [11]:
driver.close()

# Ans2:

In [12]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [13]:
#getting the driver
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.bcci.tv/")

In [14]:
#going to fixtures page 
fixtures_page=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
fixtures_page.click()

In [17]:
#clicking on more fixtures
m_fixtures=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
m_fixtures.click()

In [18]:
title=[]

try:
    t=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in t:
        title.append(i.text)
except:
    title.append('-')

In [19]:
title

['INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022',
 'INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022',
 'INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022',
 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022',
 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022',
 'INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23']

In [20]:
place=[]

try:
    p=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
    for i in p:
        place.append(i.text.split(",")[1])
        
except:
    place.append('-')

In [21]:
place

[' Chester-le-Street',
 ' Derby',
 ' Bristol',
 ' Hove',
 ' Mohali',
 ' Canterbury',
 ' Nagpur',
 ' London',
 ' Hyderabad',
 ' Thiruvananthapuram',
 ' Guwahati',
 ' Indore',
 ' Lucknow',
 ' Ranchi',
 ' Delhi']

In [22]:
series=[]

try:
    s= driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
    for i in s:
        series.append(i.text)
except:
    series.append('-')

In [23]:
series

['England Women\nvs\nIndia Women',
 'England Women\nvs\nIndia Women',
 'England Women\nvs\nIndia Women',
 'England Women\nvs\nIndia Women',
 'India\nvs\nAustralia',
 'England Women\nvs\nIndia Women',
 'India\nvs\nAustralia',
 'England Women\nvs\nIndia Women',
 'India\nvs\nAustralia',
 'India\nvs\nSouth Africa',
 'India\nvs\nSouth Africa',
 'India\nvs\nSouth Africa',
 'India\nvs\nSouth Africa',
 'India\nvs\nSouth Africa',
 'India\nvs\nSouth Africa']

In [24]:
date=[]

try:
    d=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in d:
        date.append(i.text)
        
except:
    date.append('-')

In [25]:
date

['10 SEP 2022',
 '13 SEP 2022',
 '15 SEP 2022',
 '18 SEP 2022',
 '20 SEP 2022',
 '21 SEP 2022',
 '23 SEP 2022',
 '24 SEP 2022',
 '25 SEP 2022',
 '28 SEP 2022',
 '2 OCT 2022',
 '4 OCT 2022',
 '6 OCT 2022',
 '9 OCT 2022',
 '11 OCT 2022']

In [26]:
time=[]

try:
    t=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in t:
        time.append(i.text)
        
except:
    time.append('-')

In [27]:
time

['11:30 PM IST',
 '10:30 PM IST',
 '11:00 PM IST',
 '3:30 PM IST',
 '7:30 PM IST',
 '5:30 PM IST',
 '7:30 PM IST',
 '3:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '7:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST']

In [28]:
print(len(series),len(time),len(date),len(place),len(title))

15 15 15 15 15

In [29]:
Matches = pd.DataFrame({'Match_title':title,"Series":series,"Place":place,"Date":date,"Time":time})
Matches  #fina Dataframe

,Match_title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,England Women\nvs\nIndia Women,Chester-le-Street,10 SEP 2022,11:30 PM IST
1,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,England Women\nvs\nIndia Women,Derby,13 SEP 2022,10:30 PM IST
2,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,England Women\nvs\nIndia Women,Bristol,15 SEP 2022,11:00 PM IST
3,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,Hove,18 SEP 2022,3:30 PM IST
4,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,Mohali,20 SEP 2022,7:30 PM IST
5,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,Canterbury,21 SEP 2022,5:30 PM IST
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,Nagpur,23 SEP 2022,7:30 PM IST
7,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,England Women\nvs\nIndia Women,London,24 SEP 2022,3:30 PM IST
8,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,India\nvs\nAustralia,Hyderabad,25 SEP 2022,7:30 PM IST
9,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nSouth Africa,Thiruvananthapuram,28 SEP 2022,7:30 PM IST
10,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nSouth Africa,Guwahati,2 OCT 2022,7:30 PM IST
11,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nSouth Africa,Indore,4 OCT 2022,7:30 PM IST
12,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nSouth Africa,Lucknow,6 OCT 2022,1:30 PM IST
13,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nSouth Africa,Ranchi,9 OCT 2022,1:30 PM IST
14,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nSouth Africa,Delhi,11 OCT 2022,1:30 PM IST

In [30]:
driver.close()

# Ans3:

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [32]:
#getting the driver
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.guru99.com/")

In [33]:
# clicking on selenium under testing

sele = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
sele.click()

In [35]:
# clicking on selenium exception handling
eh = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong')
eh.click()

In [48]:
#scraping names of exceptions:
name=[]
try:
    n=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
    for i in n[2:43]:
        name.append(i.text.split(':')[0])
except:
    name.append('-')
name

['1. ElementNotVisibleException',
 '2. ElementNotSelectableException',
 '3. NoSuchElementException',
 '4. NoSuchFrameException',
 '5. NoAlertPresentException',
 '6. NoSuchWindowException',
 '7. StaleElementReferenceException',
 '8. SessionNotFoundException',
 '9. TimeoutException',
 '10. WebDriverException',
 '11. ConnectionClosedException',
 '12. ElementClickInterceptedException',
 '13. ElementNotInteractableException',
 '14. ErrorInResponseException',
 '15. ErrorHandler.UnknownServerException',
 '16. ImeActivationFailedException',
 '17. ImeNotAvailableException',
 '18. InsecureCertificateException',
 '19. InvalidArgumentException',
 '20. InvalidCookieDomainException',
 '21. InvalidCoordinatesException',
 '22. InvalidElementStateException',
 '23. InvalidSessionIdException',
 '24. InvalidSwitchToTargetException',
 '25. JavascriptException',
 '26. JsonException',
 '27. NoSuchAttributeException',
 '28. MoveTargetOutOfBoundsException',
 '29. NoSuchContextException',
 '30. NoSuchCookieException',
 '31. NotFoundException',
 '32. RemoteDriverServerException',
 '33. ScreenshotException',
 '34. SessionNotCreatedException',
 '35. UnableToSetCookieException',
 '36. UnexpectedTagNameException',
 '37. UnhandledAlertException',
 '38. UnexpectedAlertPresentException',
 '39. UnknownMethodException',
 '40. UnreachableBrowserException',
 '41. UnsupportedCommandException']

In [52]:
#spliiting the string for only names
names=[]
for i in name:
    names.append(i.split('.')[1])
names

[' ElementNotVisibleException',
 ' ElementNotSelectableException',
 ' NoSuchElementException',
 ' NoSuchFrameException',
 ' NoAlertPresentException',
 ' NoSuchWindowException',
 ' StaleElementReferenceException',
 ' SessionNotFoundException',
 ' TimeoutException',
 ' WebDriverException',
 ' ConnectionClosedException',
 ' ElementClickInterceptedException',
 ' ElementNotInteractableException',
 ' ErrorInResponseException',
 ' ErrorHandler',
 ' ImeActivationFailedException',
 ' ImeNotAvailableException',
 ' InsecureCertificateException',
 ' InvalidArgumentException',
 ' InvalidCookieDomainException',
 ' InvalidCoordinatesException',
 ' InvalidElementStateException',
 ' InvalidSessionIdException',
 ' InvalidSwitchToTargetException',
 ' JavascriptException',
 ' JsonException',
 ' NoSuchAttributeException',
 ' MoveTargetOutOfBoundsException',
 ' NoSuchContextException',
 ' NoSuchCookieException',
 ' NotFoundException',
 ' RemoteDriverServerException',
 ' ScreenshotException',
 ' SessionNotCreatedException',
 ' UnableToSetCookieException',
 ' UnexpectedTagNameException',
 ' UnhandledAlertException',
 ' UnexpectedAlertPresentException',
 ' UnknownMethodException',
 ' UnreachableBrowserException',
 ' UnsupportedCommandException']

In [50]:
desp=[]

try:
    d= driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
    for i in d[2:43]:
        desp.append(i.text.split(':')[1])
except:
    desp.append('-')
    
desp

[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 ' This Exception occurs if an element could not be found.',
 ' This Exception occurs if the frame target to be switched to does not exist.',
 ' This Exception occurs when you switch to no presented alert.',
 ' This Exception occurs if the window target to be switch does not exist.',
 ' This Selenium exception occurs happens when the web element is detached from the current DOM.',
 ' The WebDriver is acting after you quit the browser.',
 ' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 ' This Exception takes place when the WebDriver is acting right after you close the browser.',
 ' This type of Exception takes place when there is a disconnection in the driver.',
 ' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 ' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 ' This happens while interacting with the Firefox extension or the remote driver server.',
 ' Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 ' This expectation will occur when IME engine activation has failed.',
 ' It takes place when IME support is unavailable.',
 ' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 ' It occurs when an argument does not belong to the expected type.',
 ' This happens when you try to add a cookie under a different domain instead of current URL.',
 ' This type of Exception matches an interacting operation that is not valid.',
 ' It occurs when command can’t be finished when the element is invalid.',
 ' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 ' This occurs when the frame or window target to be switched does not exist.',
 ' This issue occurs while executing JavaScript given by the user.',
 ' It occurs when you afford to get the session when the session is not created.',
 ' This kind of Exception occurs when the attribute of an element could not be found.',
 ' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 ' ContextAware does mobile device testing.',
 ' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 ' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 ' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 ' It is not possible to capture a screen.',
 ' It happens when a new session could not be successfully created.',
 ' This occurs if a driver is unable to set a cookie.',
 ' Happens if a support class did not get a web element as expected.',
 ' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 ' It occurs when there is the appearance of an unexpected alert.',
 ' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 ' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 ' This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [53]:
print(len(names),len(desp))

41 41

In [55]:
Exceptions = pd.DataFrame({"Exception_names":names,"Description":desp})
Exceptions #final Dataframe

,Exception_names,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

In [56]:
driver.close()

# Ans4:

In [104]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [105]:
#getting driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.statisticstimes.com/")

In [106]:
#clicking on drop down in economy
Economy_drop= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [107]:
#clicking on India GDP
India_gdp= driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [109]:
#clicking on indian state GDP
IState_gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [110]:
#making empty list
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

In [111]:
#scraping rank of states

try:
    r = driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in r[0:33]:
        rank.append(i.text)
except:
    rank.append('-')
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [112]:
#scraping state

try:
    s=driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in s[0:33]:
        state.append(i.text)
except:
    state.append('-')
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [113]:
# scraping gsdp18-19 

try:
    gs1=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
    for i in gs1[0:33]:
        gsdp1.append(i.text)
except:
    gsdp1.append('-')
gsdp1

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [114]:
# scraping gsdp 19-20

try:
    gs2=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//tbody[1]/tr/td[3]')
    for i in gs2[0:33]:
        gsdp2.append(i.text)
except:
    gsdp2.append('-')
    
gsdp2

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [115]:
# scraping share of year 18-19
try:
    s=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//tbody[1]/tr/td[5]')
    for i in s[0:33]:
        share.append(i.text)
except:
    share.append('-')
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [116]:
# scraping GDP

try:
    g = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]//tbody[1]/tr/td[6]')
    for i in g[0:33]:
        gdp.append(i.text)
except:
    gdp.append('-')
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [117]:
print(len(rank),len(state),len(gsdp1),len(gsdp2),len(share),len(gdp))

33 33 33 33 33 33

In [118]:
Indian_GDP = pd.DataFrame({"Rank":rank,"State":state,"GSDP(18-19)":gsdp1,"GSDP(19-20)":gsdp2,"Share(18-19)":share,"GDP":gdp})
Indian_GDP  #final Data frame

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [119]:
driver.close()

# Ans5:

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#getting web driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://github.com/")

In [3]:
#selecting explore from the given option
select_explore=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
select_explore.click()

In [4]:
#selecting trending from dropdown
select_trending=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
select_trending.click()

In [8]:
#scrping repository title

title=[]
try:
    t= driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in t:
        title.append(i.text)
except:
    title.append('-')
    

#scraping repository description

desp=[]
try:
    d = driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in d:
        desp.append(i.text)
except:
    desp.append('-')
    
    
## Scrapping language

language=[]
try:
    lang = driver.find_elements(By.XPATH,'//article[@class="Box-row"]//div[2]//span//span[2]')
    for i in lang:
        language.append(i.text)
except:
    language.append('-')

In [9]:
print(len(title),len(desp),len(language))

25 25 23

In [14]:
# Scrapping urls to get contributor's count:    
urls=[]
match_page=driver.find_elements(By.XPATH,'//article[@class="Box-row"]//h1//a')
for i in match_page:
    urls.append(i.get_attribute('href'))
       
counts=[]
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        count =driver.find_element(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]//div[4]//span')
        counts.append(count.text)
    except NoSuchElementException:
        counts.append('N/A')

print(len(counts))

25

In [15]:
#creating Dataframe
Repositories = pd.DataFrame({"Repository_Title":title[0:23],
                             "Description":desp[0:23],"Language_used":language,
                             "Contributors_count":counts[0:23]})

In [16]:
Repositories

,Repository_Title,Description,Language_used,Contributors_count
0,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,Python,25
1,sd-webui / stable-diffusion-webui,Stable Diffusion web UI,Python,
2,somebasj / ParallelsDesktopCrack,Parallels Desktop for mac Crack,Shell,2
3,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,TypeScript,13
4,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",Rust,11
5,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,Python,19k
6,termux / termux-app,Termux - a terminal emulator application for A...,Java,3
7,TheAlgorithms / Python,All Algorithms implemented in Python,Python,
8,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,Rust,N/A
9,Alcibiades-Capital / mev_bundle_generator,A MEV bundle generator written in Rust,TypeScript,N/A
10,meienberger / runtipi,⛺️ Tipi is a homeserver for everyone! One comm...,Python,12
11,hiroi-sora / Umi-OCR,OCR批量图片转文字识别软件，带界面，离线运行。可排除图片中水印区域的干扰，提取干净的文本。...,Jupyter Notebook,N/A
12,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,JavaScript,N/A
13,benphelps / homepage,A highly customizable homepage (or startpage /...,Jupyter Notebook,N/A
14,jaakkopasanen / AutoEq,Automatic headphone equalization from frequenc...,Lua,N/A
15,NvChad / NvChad,An attempt to make neovim cli functional like ...,Markdown,1
16,mdn / content,The content behind MDN Web Docs,TypeScript,
17,mantinedev / mantine,React components library with native dark them...,Python,227
18,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",C#,N/A
19,microsoft / PowerToys,Windows system utilities to maximize productivity,Java,305
20,apache / incubator-streampark,"StreamPark, Make stream processing easier! eas...",C,
21,34306 / TrollStoreiPA,"This repo saved iPA for TrollStore, work as ja...",Zig,N/A
22,ventoy / Ventoy,A new bootable USB solution.,C,

In [17]:
driver.close()

# Ans6:

In [18]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [19]:
#getting driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.billboard.com/")

In [20]:
#clicking on hot100 button on webpage
h100= driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a').click()
time.sleep(3)

In [26]:
#scraping song name
name=[]
try:
    n=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//li[4]//li//h3')
    for i in n:
        name.append(i.text)
except:
    name('-')
time.sleep(2)

#scraping artist name
artist=[]
try:
    a=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//li[4]//ul//li[1]//span[1]')
    for i in a:
        artist.append(i.text)
except:
    artist.append('-')
time.sleep(2)
    
#scraping last week rank
lrank=[]
try:
    lr=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]')
    for i in lr:
        lrank.append(i.text.split("\n")[2])
except:
    lrank.append('-')
time.sleep(2)
    
#scraping peak rank
prank=[]
try:
    pr=driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]")
    for i in pr:
        prank.append(i.text.split("\n")[3])
except:
    prank.append('-')
time.sleep(2)
    
    
#scraping weeks on board
wob=[]
try:
    board=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li[4]//ul[1]//li[6]//span')
    for i in board:
        wob.append(i.text)
except:
    wob.append('-')
time.sleep(2)

In [27]:
print(len(name),len(artist),len(lrank),len(prank),len(wob))

100 100 100 100 100

In [28]:
Top_100= pd.DataFrame({"Song Name":name,"Artist":artist,"Last_Week_rank":lrank,"Peak_rank":prank,"Weeks_on_board":wob})

Top_100 #final dataframe

,Song Name,Artist,Last_Week_rank,Peak_rank,Weeks_on_board
0,As It Was,Harry Styles,1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,81,12,17
96,2 Be Loved (Am I Ready),Lizzo,95,84,3
97,Wait In The Truck,HARDY Featuring Lainey Wilson,-,98,1
98,La Corriente,Bad Bunny & Tony Dize,87,32,14
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,82,82,4

In [29]:
driver.close()

# Ans7

In [10]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [11]:
#getting driver and url (provided by sme in a ticket as url givven in assignment didn't have recruiter option)
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get(" https://www.naukri.com/hr-recruiters-consultants ")

In [12]:
#searching data science in search feild
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [13]:
# clicking search button
button = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
button.click()

In [14]:
#Making empty list
name=[]
desig=[]
comp=[]
skills=[]
location=[]



start=0
end=2
for page in range(start,end):
    
    
# scraping name         
    try:
        n= driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
        for i in n:
            name.append(i.text)
    except NoSuchElementException:
        name.append('-')    

    
#scraping the designation
    try:
        d= driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
        for i in d:
            desig.append(i.text)
    except NoSuchElementException:
        desig.append('-')
        

        
#scraping company name
    try:
        c = driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
        for i in c:
            comp.append(i.text)
    except NoSuchElementException:
        comp.append('-')
        
    
#scraping skill they hire for
    try:
        s = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
        for i in s:
            skills.append(i.text)
    except NoSuchElementException:
        skills.append('-')

#scraping location
    try:
        l = driver.find_elements(By.XPATH,'//p[@class="highlightable"]//span//small')
        for i in l:
            location.append(i.text)
    except NoSuchElementException:
        location.append('-')
        
    next_button = driver.find_element(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[3]/button")
    next_button.click()

In [15]:
print(len(name),len(desig),len(comp),len(skills),len(location))

100 100 100 100 95

In [16]:
Data_Science = pd.DataFrame({"Name":name[0:95],
                            "Designation":desig[0:95],
                            "Company":comp[0:95],
                            "Skills_they_hire_for":skills[0:95],
                            "Location":location})

Data_Science   #final dataframe

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
90,Naga Deepika AlgoSquare,Consultant HR,AlgoSquare Data Science Pvt Limited,Not Specified,Delhi
91,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Delhi
92,Talent Acquisition Team,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Delhi
93,Venkatraman Chandrasekaran,Recruitment Consultant,Chandra Jobs,"Data Science, Digital Marketing, Ux Design, De...",Vijayawada
94,Srinivasan Alagurajan,Manager,Roni Analytics,"Data Science, Data Engineering, Analytics, New...",Bengaluru / Bangalore

In [17]:
driver.close()

# Ans8:

In [11]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [13]:
#getting driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [14]:
#scraping book name

name=[]
try:
    n=driver.find_elements(By.XPATH,'//div[@class="embed block"]//tbody//tr//td[2]')
    for i in n:
        name.append(i.text)
except:
    name.append('-')

    
#scraping author of book
author=[]
try:
    a=driver.find_elements(By.XPATH,'//div[@class="embed block"]//tbody//tr//td[3]')
    for i in a:
        author.append(i.text)
except:
    author.append('-')
    
#scraping sales of volumes
volume=[]
try:
    v=driver.find_elements(By.XPATH,'//div[@class="embed block"]//tbody//tr//td[4]')
    for i in v:
        volume.append(i.text)
except:
    volume.append('-')
    
#scraping publisher name
pub=[]
try:
    p=driver.find_elements(By.XPATH,'//div[@class="embed block"]//tbody//tr//td[5]')
    for i in p:
        pub.append(i.text)
except:
    pub.append('-')
    
    
#scraping genre
genre=[]
try:
    g=driver.find_elements(By.XPATH,'//div[@class="embed block"]//tbody//tr//td[6]')
    for i in g:
        genre.append(i.text)
except:
    genre.append('-')

In [15]:
print(len(name),len(author),len(volume),len(pub),len(genre))

100 100 100 100 100

In [16]:
Book = pd.DataFrame({"Book_Name":name,"Author":author,"Volumes_Saled":volume,"Publisher":pub,"Genre":genre})
Book  #final Dataframe

,Book_Name,Author,Volumes_Saled,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [17]:
driver.close()

# Ans9:

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [7]:
#getting driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [8]:
#creating empty list:
name=[]
genre=[]
span=[]
runtime=[]
ratings=[]
votes=[]

In [9]:
# scraping names of tv series
try:
    n=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
    for i in n:
        name.append(i.text)
except:
    
    name.append('-')

In [10]:
# scraping genre of tv series
try:
    g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in g:
        genre.append(i.text)
except:
    
    genre.append('-')

# scraping span of tv series
try:
    s=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for i in s:
        span.append(i.text)
except:
    span.append('-')

# scraping runtime of tv series
try:
    run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run:
        runtime.append(i.text)
except:
    
    runtime.append('-')

# scraping rating of tv series
try:
    rate=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div[1]/span[2]')
    for i in rate:
        ratings.append(i.text)
except:
    ratings.append('-')


# scraping votes of tv series
try:
    v=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for i in v:
        votes.append(i.text)
except:
    votes.append('-')

In [11]:
print(len(name),len(ratings),len(votes),len(runtime),len(span),len(genre))

100 100 100 100 100 100

In [13]:
IMDB_TV_Series = pd.DataFrame({"Name":name,"Year Span":span,"Genre":genre,"Runtime":runtime,"Ratings":ratings,"Votes":votes})
IMDB_TV_Series   #final Dataframe

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,046,154"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,142,751"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"967,354"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,617"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,198"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,515"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,514"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,644"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,998"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,079"

In [14]:
driver.close()

# Ans10:

In [60]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [61]:
#getting driver and url
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

In [62]:
# clicking on view all dataset

view_all_dataset = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b').click()

In [67]:
#Scraping dataset name
name=[]

try:
    n=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in n:
        name.append(i.text)
except:
    name.append('-')

#scraping dataset types
types=[]
try:
    t=driver.find_elements(By.XPATH,"//table/tbody/tr/td[2]/p[@class='normal']")
    for i in t[0:1245:2]:
        types.append(i.text)
except:
    types.append('-')
types=types[1:]    

#scraping tasks of data    
task=[]
try:
    tasks=driver.find_elements(By.XPATH,'//td[3]//p[@class="normal"]')
    for i in tasks[0:622]:
        task.append(i.text)
except:
    task.append('-')


#scraping attributes of dataset
attribute=[]
try:
    at=driver.find_elements(By.XPATH,'//td[4]//p[@class="normal"]')
    for i in at:
        attribute.append(i.text)
except:
    attribute.append('-')
    
#Scraping no of instances
    
instance=[]
try:
    noi=driver.find_elements(By.XPATH,'//td[5]//p[@class="normal"]')
    for i in noi:
        instance.append(i.text)
except:
    instance.append('-')
    

#scraping no of attributes    
No_attribute=[]
try:
    noa=driver.find_elements(By.XPATH,'//td[6]//p[@class="normal"]')
    for i in noa:
        No_attribute.append(i.text)
except:
    No_attribute.append('-')
    
#scraping year
year=[]
try:
    y=driver.find_elements(By.XPATH,'//td[7]//p[@class="normal"]')
    for i in y:
        year.append(i.text)
except:
    year.append('-')

In [68]:
print(len(name),len(types),len(task),len(attribute),len(instance),len(No_attribute),len(year))

622 622 622 622 622 622 622

In [69]:
Datasets = pd.DataFrame({"Dataset_name":name,
                        "Dataset_types":types,
                        "Default_task":task,
                        "Attribute_type":attribute,
                        "Instance":instance,
                        "Attribute":No_attribute,
                        "Year":year})               #fianl dataframe

In [70]:
Datasets

,Dataset_name,Dataset_types,Default_task,Attribute_type,Instance,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [71]:
driver.close()