# Web-Scraping-Assignment-2

# Ans1

In [37]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [38]:
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [39]:
driver.get("https://www.naukri.com/")

In [40]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [41]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [42]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [43]:
#Scraping 1-10job titles
job_title=[]
title_tags =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)

#Scraping 1-10job location
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

#Scraping 1-10 companies
company_name=[]
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

#Scraping 1-10 experiences
experience_required=[]
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience_required.append(i.text)

In [44]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [45]:
Naukri_jobs=pd.DataFrame({'Job_titlle':job_title,'Job_location':job_location,'Company_name':company_name,'Experience_required':experience_required})
Naukri_jobs    #final Dataframe

,Job_titlle,Job_location,Company_name,Experience_required
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
2,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
3,"Data Analyst, plsql, Tableau, Informatica","Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Capgemini,3-8 Yrs
4,Senior Data Analyst - SQL/Tableau,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Global Employees,7-12 Yrs
5,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
6,Data Analyst - Data Visualization & Reporting,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Global Employees,5-10 Yrs
7,Data Analyst,Remote,LINGARO INDIA PRIVATE LIMITED,3-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
9,Data Analyst,Bangalore/Bengaluru,Blinkit,0-2 Yrs

# Ans2

In [46]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [47]:
driver= webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [48]:
driver.get("https://www.naukri.com/")

In [49]:
designt = driver.find_element(By.CLASS_NAME,"suggestor-input")
designt.send_keys("Data Scientist")

In [50]:
locatn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
locatn.send_keys("Banglore")

In [51]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [52]:
#Scraping 1-10job titles
job_title=[]
title_tags =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)

#Scraping 1-10job location
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

#Scraping 1-10 companies
company_name=[]
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [53]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [54]:
Data_Scientist_jobs=pd.DataFrame({'Job_titlle':job_title,'Job_location':job_location,'Company_name':company_name})
Data_Scientist_jobs #final dataframe

,Job_titlle,Job_location,Company_name
0,Senior Manager - EmTech - Machine Learning - P&T,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS)
4,Data Science Senior Analyst,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
5,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
8,Expert Data Scientist,"Mumbai, Bangalore/Bengaluru",United Phosphorus Limited
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies

# Ans 3

In [67]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [68]:
driver= webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [69]:
driver.get("https://www.naukri.com/")

In [70]:
designt = driver.find_element(By.CLASS_NAME,"suggestor-input")
designt.send_keys("Data Scientist")

In [71]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [75]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/p/span[1]")
location.click()

In [76]:
salary= driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()

In [78]:
#Scraping 1-10job titles
job_title=[]
title_tags =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)

#Scraping 1-10job location
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

#Scraping 1-10 companies
company_name=[]
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
#Scraping 1-10 experiences
experience_required=[]
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience_required.append(i.text)

In [79]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [80]:
Naukri_jobs=pd.DataFrame({'Job_titlle':job_title,'Job_location':job_location,'Company_name':company_name,'Experience_required':experience_required})
Naukri_jobs    #Final dataframe

,Job_titlle,Job_location,Company_name,Experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

# Ans4

In [78]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [79]:
driver= webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [80]:
driver.get("https://www.flipkart.com/")

In [81]:
product = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("Sunglasses")

In [84]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [85]:
#Scraping first 100 brands for sunglasses
brand= []  
start=0
end=3

for page in range(start,end):
    b=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in b:
        brand.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [86]:
len(brand)

120

In [89]:
#scraping the description of product
pro_des=[]

start=0
end=3
for page in range(start,end):
    pds= driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in pds:
        pro_des.append(i.text)
    next_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()

In [90]:
len(pro_des)

120

In [91]:
#scraping the price
price=[]

start=0
end=3
for page in range(start,end):
    pro_price=driver.find_elements(By.CLASS_NAME,"_2B099V")
    for i in pro_price:
        price.append(i.text.split("₹")[1])#Spliited to get only main price and not description or percentage off
        
    next_button= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()

In [92]:
len(price)

120

In [93]:
price   # all products final price

['699',
 '798',
 '675',
 '1,799',
 '199',
 '169',
 '129',
 '360',
 '899',
 '1,009',
 '6,469',
 '899',
 '699',
 '474',
 '1,699',
 '229',
 '156',
 '282',
 '299',
 '360',
 '114',
 '8,710',
 '562',
 '799',
 '185',
 '120',
 '126',
 '809',
 '180',
 '236',
 '321',
 '898',
 '5,829',
 '699',
 '99',
 '229',
 '431',
 '498',
 '650',
 '289',
 '699',
 '798',
 '675',
 '1,799',
 '199',
 '169',
 '129',
 '360',
 '899',
 '1,009',
 '6,469',
 '899',
 '699',
 '474',
 '1,699',
 '229',
 '156',
 '282',
 '299',
 '360',
 '114',
 '8,710',
 '562',
 '799',
 '185',
 '120',
 '126',
 '809',
 '180',
 '236',
 '321',
 '898',
 '5,829',
 '699',
 '99',
 '229',
 '431',
 '498',
 '650',
 '289',
 '699',
 '798',
 '675',
 '1,799',
 '199',
 '169',
 '129',
 '360',
 '899',
 '1,009',
 '6,469',
 '899',
 '699',
 '474',
 '1,699',
 '229',
 '156',
 '282',
 '299',
 '360',
 '114',
 '8,710',
 '562',
 '799',
 '185',
 '120',
 '126',
 '809',
 '180',
 '236',
 '321',
 '898',
 '5,829',
 '699',
 '99',
 '229',
 '431',
 '498',
 '650',
 '289']

In [101]:
discount=[]  # as ticked in photo given in assisgnment scraping discount

start=0
end=3
for page in range(start,end):
    pro_dis=driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
    for i in pro_dis:
        discount.append(i.text)
        
    next_button= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()

In [102]:
print(len(discount))

135

In [108]:
d=discount[0:120] #making it of same length as price brand and description columns
d

['65% off',
 '75% off',
 '68% off',
 '77% off',
 '89% off',
 '75% off',
 '74% off',
 '75% off',
 '45% off',
 '75% off',
 '10% off',
 '64% off',
 '65% off',
 '68% off',
 '34% off',
 '80% off',
 '68% off',
 '59% off',
 '85% off',
 '75% off',
 '77% off',
 '21% off',
 '82% off',
 '60% off',
 '80% off',
 '79% off',
 '92% off',
 '68% off',
 '87% off',
 '80% off',
 '78% off',
 '75% off',
 '20% off',
 '61% off',
 '86% off',
 '80% off',
 '71% off',
 '67% off',
 '49% off',
 '71% off',
 '25% off',
 '25% off',
 '82% off',
 '73% off',
 '24% off',
 '65% off',
 '75% off',
 '68% off',
 '77% off',
 '89% off',
 '75% off',
 '74% off',
 '75% off',
 '45% off',
 '75% off',
 '10% off',
 '64% off',
 '65% off',
 '68% off',
 '34% off',
 '80% off',
 '68% off',
 '59% off',
 '85% off',
 '75% off',
 '77% off',
 '21% off',
 '82% off',
 '60% off',
 '80% off',
 '79% off',
 '92% off',
 '68% off',
 '87% off',
 '80% off',
 '78% off',
 '75% off',
 '20% off',
 '61% off',
 '86% off',
 '80% off',
 '71% off',
 '67% off',
 '49% off',
 '71% off',
 '25% off',
 '25% off',
 '82% off',
 '73% off',
 '24% off',
 '65% off',
 '75% off',
 '68% off',
 '77% off',
 '89% off',
 '75% off',
 '74% off',
 '75% off',
 '45% off',
 '75% off',
 '10% off',
 '64% off',
 '65% off',
 '68% off',
 '34% off',
 '80% off',
 '68% off',
 '59% off',
 '85% off',
 '75% off',
 '77% off',
 '21% off',
 '82% off',
 '60% off',
 '80% off',
 '79% off',
 '92% off',
 '68% off',
 '87% off',
 '80% off']

In [109]:
print(len(d))

120

In [110]:
import  pandas as pd
Sunglasses = pd.DataFrame({"Brand":brand,"Product_description":pro_des,"Price":price,'Discount':d})
Sunglasses=Sunglasses.loc[0:99,]
Sunglasses    #final dataframe

,Brand,Product_description,Price,Discount
0,GANSTA,"Polarized, UV Protection Round Sunglasses (55)",699,65% off
1,Floyd,"Toughened Glass Lens, UV Protection Aviator Su...",798,75% off
2,Fastrack,"UV Protection, Gradient Aviator Sunglasses (61)",675,68% off
3,Fastrack,"Mirrored, UV Protection, Riding Glasses Retro ...","1,799",77% off
4,Fastrack,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",199,89% off
...,...,...,...,...
95,ROYAL SON,UV Protection Aviator Sunglasses (58),229,75% off
96,Dannilo,"UV Protection Round, Aviator Sunglasses (Free ...",156,74% off
97,Elligator,"Riding Glasses, UV Protection Round Sunglasses...",282,75% off
98,AISLIN,UV Protection Retro Square Sunglasses (Free Size),299,45% off
99,ROYAL SON,"UV Protection, Riding Glasses, Mirrored Sports...",360,75% off

# Ans 5

In [94]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [95]:
driver= webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [96]:
driver.get("https://www.flipkart.com/")

In [97]:
#giving product name to search
product =driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("iphone 11")

In [98]:
#clicking on search button
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [99]:
#Clicking on iphone 11 for reviews
Black_Iphone= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a/div[2]/div[1]/div[1]")
Black_Iphone.click()

In [9]:
#Clicking on all reviews manually as suggested by my SME due to some unevitable errors
#after clicking scraping the reviews

In [107]:
urls=[]
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")

for i in url_1:

    urls.append(i.get_attribute('href'))

url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")

for i in url_2:

    urls.append(i.get_attribute('href'))

time.sleep(4)


rating_summary=[]
start=0
end=2

for page in range(start,end):
    rs=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rs:
        rating_summary.append(i.text)

In [108]:
rating_summary

[]

In [188]:
description=[]
start=0
end=3

for page in range(start,end):
    rd=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rd:
        description.append(i.text)

# Ans6

In [319]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [320]:
driver= webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [321]:
driver.get("https://www.flipkart.com/")

In [322]:
#giving product name to search
product =driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
product.send_keys("sneakers")

In [323]:
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [324]:
#Scraping the brand name
brand=[]
start=0
end=3

for page in range(start,end):
    b=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in b:
        brand.append(i.text)
    next_button=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [325]:
print(len(brand))

120

In [328]:
#scraping the product description
Description= []  
start=0
end=3

for page in range(start,end):
    pro_des=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for i in pro_des:
        Description.append(i.text)
    next_button = driver.find_element(By.CLASS_NAME,"_1LKTO3")
    next_button.click()
    time.sleep(3)

In [329]:
print(len(Description))

120

In [330]:
#scraping the price 
Price=[]
start=0
end=3

for page in range(start,end):
    p=driver.find_elements(By.CLASS_NAME,"_30jeq3")
    for i in p:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [331]:
print(len(Price))

135

In [332]:
P= Price[0:120] #making it match the other lengths

print(len(P))

120

In [337]:
#Scraping the discount value
discount=[]
start=0
end=3

for page in range(start,end):
    d= driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
    for i in d:
        discount.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)

In [338]:
print(len(discount))

134

In [339]:
d=discount[0:120] #making it match the other lengths
d

['71% off',
 '80% off',
 '81% off',
 '74% off',
 '70% off',
 '52% off',
 '47% off',
 '80% off',
 '60% off',
 '75% off',
 '55% off',
 '66% off',
 '62% off',
 '76% off',
 '50% off',
 '70% off',
 '55% off',
 '76% off',
 '62% off',
 '79% off',
 '41% off',
 '47% off',
 '60% off',
 '40% off',
 '52% off',
 '50% off',
 '53% off',
 '58% off',
 '50% off',
 '15% off',
 '15% off',
 '47% off',
 '76% off',
 '58% off',
 '67% off',
 '75% off',
 '75% off',
 '50% off',
 '62% off',
 '70% off',
 '55% off',
 '58% off',
 '81% off',
 '79% off',
 '53% off',
 '47% off',
 '64% off',
 '64% off',
 '69% off',
 '30% off',
 '61% off',
 '43% off',
 '71% off',
 '52% off',
 '53% off',
 '50% off',
 '54% off',
 '64% off',
 '71% off',
 '61% off',
 '15% off',
 '29% off',
 '58% off',
 '46% off',
 '66% off',
 '55% off',
 '34% off',
 '50% off',
 '46% off',
 '60% off',
 '50% off',
 '55% off',
 '40% off',
 '50% off',
 '59% off',
 '62% off',
 '47% off',
 '64% off',
 '72% off',
 '71% off',
 '4% off',
 '50% off',
 '42% off',
 '15% off',
 '55% off',
 '58% off',
 '81% off',
 '79% off',
 '53% off',
 '52% off',
 '57% off',
 '42% off',
 '51% off',
 '50% off',
 '53% off',
 '74% off',
 '53% off',
 '43% off',
 '73% off',
 '70% off',
 '30% off',
 '40% off',
 '61% off',
 '70% off',
 '28% off',
 '46% off',
 '51% off',
 '72% off',
 '28% off',
 '75% off',
 '46% off',
 '15% off',
 '50% off',
 '36% off',
 '62% off',
 '46% off',
 '62% off',
 '34% off',
 '50% off',
 '68% off']

In [340]:
print(len(brand),len(Description),len(P),len(d))

120 120 120 120

In [341]:
Sneakers=pd.DataFrame({"Brand":brand,"Product_descripton":Description,"Price":P,"Discount":d})
Sneakers=Sneakers[0:100] #selecting first 100 
Sneakers   #final Dataframe

,Brand,Product_descripton,Price,Discount
0,Shozie,Stylish Walking Partywear Sneakers Casual Shoe...,₹380,71% off
1,Shozie,Stylish Comfortable Casual Sneakers Shoes for ...,₹829,80% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹544,81% off
3,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹397,74% off
4,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹374,70% off
...,...,...,...,...
95,DURANE,Lazy Knit Slip On Sneakers For Men,"₹2,563",74% off
96,Magnolia,Modern Trendy Sneakers boot Sneakers For Men,₹501,53% off
97,PUMA,Sneakers For Men,₹569,43% off
98,Layasa,Luxury Branded Fashionable Men's Casual Walkin...,"₹5,699",73% off
99,WARMFEET,Sneakers For Men,₹265,70% off

# Ans 7

In [349]:
import selenium
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [352]:
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [353]:
driver.get("https://www.myntra.com/shoes")

Note for Ques7:
    Tried to inspect the site but right click is not working on that site.

# Ans8

In [128]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [129]:
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [130]:
driver.get(" https://www.amazon.in/")

In [131]:
#giving the product name
product = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys("laptop")

In [132]:
#Clicking on search button
search = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [133]:
#applying filter to "intel core i7" in CPU type
filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/span")
filter.click()

In [135]:
#Scraping the names of laptop
title=[]
t=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in t[0:10]:
    title.append(i.text)
    
#Scraping the rating of laptops
Rating=[]
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])
        
#scraping the price of laptop
price=[]
p=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in p[0:10]:
    price.append(i.text)

In [136]:
print(len(title),len(rating),len(price))

10 10 10

In [137]:
laptop = pd.DataFrame({"Title":title,"Rating":rating,"Price":price})
laptop #final Dataframe

                                               Title Rating   Price
0  Samsung Galaxy Book2 Intel 12th Gen core i5 39...    3.6  69,990
1  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...    3.0  59,490
2  Lenovo IdeaPad Slim 3 Intel Core i5 11th Gen 1...    4.1  49,999
3  Lenovo IdeaPad Gaming 3 Intel Core i5 10th Gen...    4.0  53,990
4  Redmi Book Pro Intel Core i5 11th Gen H Series...    5.0  39,990
5  Lenovo IdeaPad Slim 3 Intel Core i5 12th Gen 1...    4.0  59,490
6  Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen...    3.4  69,490
7  Lenovo IdeaPad Gaming 3 Intel Core i5 11th Gen...    4.1  52,990
8  HP 15s 12th Gen Intel Core i5 8GB RAM/512GB SS...    1.0  56,990
9  ASUS VivoBook 17, Intel Core i5-1135G7 11th Ge...    4.3  51,990

# Ans9

In [192]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [193]:
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [194]:
driver.get("https://www.ambitionbox.com/")

In [195]:
jobs = driver.find_element(By.CLASS_NAME,"navItemLink")
jobs.click()

In [196]:
#giving title
job_name=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
job_name.send_keys("Data Scientist")

In [197]:
#clicking on search button
search = driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [198]:
#selecting location
sel_location = driver.find_element(By.CLASS_NAME,"icon-chevron-right")
sel_location.click()

In [200]:
#after selecting on location drop down for selecting Noida location
location = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[2]/div/label")
location.click()

In [209]:
#Scraping first 10 job title
title=[]
t=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in t:
    title.append(i.text)
    
#Scraping first 10 comopanies
company=[]
c= driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in c:
    company.append(i.text)
    

#Scraping first 10 locations    
location=[]
l=driver.find_elements(By.XPATH,'//div[@class="entity loc"]')
for i in l[1:11]:
    location.append(i.text)
    
#Scraping Experience first 10 jobs
experience=[]
e=driver.find_elements(By.XPATH,'//div[@class="job-basic-info show-flex"]')
for i in e[1:11]:
    experience.append(i.text.split("\n")[0])

In [210]:
print(len(title),len(company),len(location),len(experience))

10 10 10 10

In [211]:
experience #checking the values

['5-9 Yrs',
 '4-12 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '8-13 Yrs',
 '8-12 Yrs',
 '4-5 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '₹ 0.5-0.5 LPA']

In [212]:
Ambition_DS=pd.DataFrame({"Job_title":title,"Company":company,"Location":location,"Experience":experience})
Ambition_DS  # final dataframe

,Job_title,Company,Location,Experience
0,Hiring Data Scientist #productbasecompany #CBRE,CBRE South Asia Pvt Ltd,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",5-9 Yrs
1,Data Scientist,Ericsson India Global Services Pvt. Ltd.,Noida,4-12 Yrs
2,Data Scientist,GENPACT India Private Limited,"Ghaziabad, Gurgaon/Gurugram, Noida",6-10 Yrs
3,Data Scientist,Optum Global Solutions (India) Private Limited,Noida,5-10 Yrs
4,Associate Manager - Data Scientist,Optum Global Solutions (India) Private Limited,Noida,8-13 Yrs
5,Data Scientist,Ericsson India Global Services Pvt. Ltd.,Noida,8-12 Yrs
6,Data Scientist,SOPRA STERIA INDIA LIMITED,"Chennai, Bengaluru/Bangalore, Noida",4-5 Yrs
7,Data Scientist - Noida/Bangalore,EXL Services.com ( I ) Pvt. Ltd.,"Bengaluru/Bangalore, Noida",5-10 Yrs
8,EY - Data Engineer - Data Integration/Modeling...,EY,"Pune, Bengaluru/Bangalore, Hyderabad/Secundera...",3-8 Yrs
9,Data Scientist Intern,CARE HEALTH INSURANCE LIMITED,"Faridabad, Delhi NCR, Gurgaon/Gurugram +1 more",₹ 0.5-0.5 LPA

# Ans10

In [76]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import time

In [77]:
driver = webdriver.Chrome(r"D:\Fliprobo\chromedriver.exe")

In [78]:
driver.get("https://www.ambitionbox.com/")

In [79]:
#clicking on browse salary as suggested by SME because of unevitable errors

In [84]:
job_name=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
job_name.send_keys("Data Scientist")

In [85]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search.click()

In [86]:
#scraping company names
name=[]

cinfo=driver.find_elements(By.CLASS_NAME,"company-info")

for i in cinfo[0:10]:   #first 10 company names
    name.append(i.text.split("\n")[0])
name=name[0:13]
name

['Walmart',
 'Ab Inbev',
 'Optum',
 'ZS',
 'Fractal Analytics',
 'Tiger Analytics',
 'Legato Health Technologies',
 'Tredence',
 'UnitedHealth',
 'Ford Motor']

In [87]:
#scraping total salary record
salaryrecord=[]

cinfo=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')

for i in cinfo:
    salaryrecord.append(i.text)
salaryrecord

['(based on 22 salaries)',
 '(based on 53 salaries)',
 '(based on 48 salaries)',
 '(based on 33 salaries)',
 '(based on 109 salaries)',
 '(based on 65 salaries)',
 '(based on 11 salaries)',
 '(based on 12 salaries)',
 '(based on 91 salaries)',
 '(based on 21 salaries)']

In [88]:
avrgsal=[]

cinfo= driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')

for i in cinfo:
    avrgsal.append(i.text)
avrgsal

['₹ 31.7L',
 '₹ 19.7L',
 '₹ 16.5L',
 '₹ 15.7L',
 '₹ 15.2L',
 '₹ 14.7L',
 '₹ 14.5L',
 '₹ 14.1L',
 '₹ 13.6L',
 '₹ 13.5L']

In [89]:
#scraping minimum salary
minsal=[]

cinfo=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')

for i in cinfo:
    minsal.append(i.text)
minsal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 9.0L',
 '₹ 11.0L',
 '₹ 8.8L',
 '₹ 8.0L',
 '₹ 10.0L']

In [90]:
#scraping maximum salary
maxsal=[]

cinfo = driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')

for i in cinfo:
    maxsal.append(i.text)
maxsal

['₹ 45.0L',
 '₹ 25.5L',
 '₹ 22.6L',
 '₹ 22.0L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 20.0L',
 '₹ 17.5L',
 '₹ 20.5L',
 '₹ 18.0L']

In [91]:
#scraping experience required
exp=[]

cinfo=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')

for i in cinfo:
    exp.append(i.text.split("(")[0])
exp

['3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '1-2 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '4 yrs experience ',
 '3 yrs experience ',
 '2-4 yrs experience ',
 '3-4 yrs experience ']

In [92]:
print(len(name),len(salaryrecord),len(avrgsal),len(maxsal),len(minsal),len(exp)) #checking length of all columns

10 10 10 10 10 10

In [93]:
df1 = pd.DataFrame({"Company_Name":name,"Experience":exp,"Total_Salary_Record":salaryrecord,"Avg_Salary":avrgsal,"Maximun_Salary":maxsal,"Minimum_Salary":minsal})
df1  #final DataFrame

,Company_Name,Experience,Total_Salary_Record,Avg_Salary,Maximun_Salary,Minimum_Salary
0,Walmart,3-4 yrs experience,(based on 22 salaries),₹ 31.7L,₹ 45.0L,₹ 25.0L
1,Ab Inbev,2-4 yrs experience,(based on 53 salaries),₹ 19.7L,₹ 25.5L,₹ 15.0L
2,Optum,2-4 yrs experience,(based on 48 salaries),₹ 16.5L,₹ 22.6L,₹ 11.0L
3,ZS,1-2 yrs experience,(based on 33 salaries),₹ 15.7L,₹ 22.0L,₹ 11.0L
4,Fractal Analytics,2-4 yrs experience,(based on 109 salaries),₹ 15.2L,₹ 23.0L,₹ 9.0L
5,Tiger Analytics,2-4 yrs experience,(based on 65 salaries),₹ 14.7L,₹ 20.0L,₹ 9.0L
6,Legato Health Technologies,4 yrs experience,(based on 11 salaries),₹ 14.5L,₹ 20.0L,₹ 11.0L
7,Tredence,3 yrs experience,(based on 12 salaries),₹ 14.1L,₹ 17.5L,₹ 8.8L
8,UnitedHealth,2-4 yrs experience,(based on 91 salaries),₹ 13.6L,₹ 20.5L,₹ 8.0L
9,Ford Motor,3-4 yrs experience,(based on 21 salaries),₹ 13.5L,₹ 18.0L,₹ 10.0L